@import "tailwindcss";


body {
  font-family: 'Open Sans', sans-serif;
}

/* .navbar .nav-link.active {
    color: #f97316 !important;
        text-decoration: none !important;

}*/

a {
    text-decoration: none !important;
}
 
